html, body {
    margin: 25px;
    
    
    padding: 0;
  }
 
body {
  background-image: url('bg3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.head{
    color:gold;
}
h1{
color:black;

background-color: wheat;
}
.links{
    color: black;
    background-color:orangered;
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}
.img{
    
    display: flex;
   
    justify-content: center;
}
p{
    color:rgb(236, 232, 231);
    font-size: 50px;
}
h2{
    color: gold;
}
.logo{
    display: flex;
   
    justify-content: left;

}
.logo2{
    display: flex;
   
    justify-content: left;

}
.table{
display: flex;
justify-self: start;


}
.logo3{
    display: flex;
   
    justify-content: left;

}
.logo4{
    display: flex;
   
    justify-content: left;

}

.about{
    border: 10px solid transparent;
padding: 15px;
border-image: url(border.png) 30 round;
}
h1{
color: darkblue;
border: 10px solid transparent;
padding: 15px;
border-image: url(pp1.jpg) 30 round;
}
.text{
    color: darkblue;
    display: flex;
    justify-content: center;
}


.img :hover img{
    opacity:0.87564598455;
    transform: scale(1.15);
  
}
a:link {
    color: red;
    text-decoration: none;
  }
  a:visited {
    color:white;
    text-decoration: none;
  }
  a:hover {
    color: blue;
   transform: scale(1.15);
   text-decoration: underline;
  }
.email{
    color: darkblue;
    font-size: 30px;
}
.no{
    color:darkblue;
    font-size : 30px;
}
  